{% extends "base.html.twig" %}

{% block body %}
<div class="cake">
    <h1>Mon beau gâteau</h1>
    {{ cake.name }} - {{ cake.price }}€
    <figure>
        <img src="{{ cake.image }}" alt="Cake picture">
        <figcaption>{{ cake.description }}</figcaption>
    </figure>
</div>
{% endblock %}